<form action="/<%= @filename %>/edit_filename" method="post" >
  <label for="new_filename">Edit filename of <%= @filename %>:</label>
  <div>
    <input name="new_filename" id="new_filename" type="text" value="<%= @filename || params[:new_filename] %>">
  </div>

  <button type="submit">Save Changes</button>
</form>
