<form action="/<%= @filename %>/edit" method="post">
  <label for="document_content">Edit content of <%= @filename %>:</label>
  <div>
  <textarea name="document_content" id="document_content" rows="15" cols="50"><%= @file_content %></textarea>
  <div>
  <button type="submit">Save Changes</button>
</form>


<a href="/">Cancel</a>
