<p><a href="/files/new">New Document</a></p>

  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="/<%= file %>"><%= file %></a>
        <a href="/<%= file %>/edit">Edit</a>
      
        <form class="inline" action="/<%= file %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>

  <% if signed_in? %>
    <i>Signed in as admin.</i>
    <form class="inline" action="/users/signout", method="post">
      <button type="submit"> Sign out</button>
    </form>
  <% else %>
    <form action="/users/signin" method="get">
      <button stype="submit">Sign in</button>
  <% end %>
