body {
  font-family: sans-serif;
  padding: 1em;
}

.flash.success {
  background: yellow;
  padding: 1px;
}

.flash.error {
  background: yellow;
  padding: 1px;
}

form.inline {
  display: inline;
}